/*
   22 January 200814:45:09
   User: 
   Server: ORANGE
   Database: VLA_BSE
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.[Case] ADD
	AlternateDiagnosis varchar(255) NULL,
	LabComment varchar(255) NULL,
	EartagCountry varchar(2) NULL
GO
ALTER TABLE dbo.[Case] ADD CONSTRAINT 
	CK_Case_AlternateDiagnosis CHECK 
	(
		[FinalResult] = 'Neg' 
		or [FinalResult] != 'Neg' and [AlternateDiagnosis] is null
	)
COMMIT
