<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--AJAX SUPPORT-->
  <configSections>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup,          System.Web.Extensions, Version=1.0.61025.0, Culture=neutral,          PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup,          System.Web.Extensions, Version=1.0.61025.0, Culture=neutral,          PublicKeyToken=31bf3856ad364e35">

        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup,              System.Web.Extensions, Version=1.0.61025.0,              Culture=neutral, PublicKeyToken=31bf3856ad364e35">



        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-ISAPI-2.0" />
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory,        System.Web.Extensions, Version=1.0.61025.0, Culture=neutral,        PublicKeyToken=31bf3856ad364e35" />
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler,        System.Web.Extensions, Version=1.0.61025.0, Culture=neutral,        PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="Home.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
  <!--AJAX SUPPORT-->
  <appSettings>    
    <!-- Database settings -->
    <add key="DBSQLServerNative" value="1" />
    <add key="DBConnectionString" value="Data Source=vm-aphadev-003;Initial Catalog=BSE;User Id=BSESystemUser;Password=password;"/>
    <!-- ADNS Export settings -->
    <add key="ADNSEmailFromAddress" value="bse.adns@apha.gov.uk" />
    <add key="ADNSEmailToAddress" value="SANTE-ADNS@ec.europa.eu" />
    <add key="SMTPHost" value="appssmtprelay.demeter.zeus.gsi.gov.uk" />
    <add key="SMTPPort" value="25" />
    <add key="SystemVersion" value="LIVE Version" />
    <!-- SPOL settings -->
    <add key="SPOLSite" value="https://defra.sharepoint.com/teams/Team3516/BSE/Forms/AllItems.aspx"/>
    <add key="IsoEarTagCommonPartExpression" value="[0,1,2,_, ]$"/>
    <add key="IsoEarTagAlphaNumericCountryPartExpression" value="^[A-Z][A-Z]"/>
    <add key="IsoEarTagNumericCountryPartExpression" value="^[0-9][0-9][0-9]"/>
    <add key="IsoEarTagAnimalPartExpression" value="^[0-9][0-9][0-9][0-9][0-9]$"/>
    <add key="IsoEarTagHerdmarkPartExpression" value="^[0-9][0-9][0-9][0-9][0-9][0-9]$"/>
  </appSettings>

  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <!--AJAX SUPPORT-->
    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <!--AJAX SUPPORT-->
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="vb" debug="true">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.
    -->
    <customErrors mode="Off" />
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"
    -->
    <authentication mode="Windows" />
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->    
    <authorization>
      <deny users="?" />
      <!-- Deny anonymous -->
      <allow     users="main\axg_1"/>
      <!--
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <identity impersonate="false" />
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" cookieless="false" timeout="20" />

    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <xhtmlConformance mode="Legacy" />
    <!--AJAX SUPPORT-->
    <httpHandlers>
      <remove verb="*" path="*.asmx" />
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>

    <httpModules>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </httpModules>

    <!--AJAX SUPPORT-->
  </system.web>

</configuration>
